.my-style,
.fcc-style {
    height: 6vw;
    width: 9vw;
    background-image: url(Images/style-my.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 999;
}

.my-style {
    background-image: url(Images/style-my.png);
    right: 3vw;
    top: 0;
}

.fcc-style {
    background-image: url(Images/style-fcc.png);
    right: 3vw;
    top: 4.5vw;
}

.my-style a, 
.fcc-style a {
    height: 100%;
    width: 100%;
    display: block;
}

.my-style:hover,
.fcc-style:hover {
    transform: scale(105%);
    transition: all 300ms ease-in-out;
}

.my-style:not(:hover),
.fcc-style:not(:hover) {
    transform: scale(100%);
    transition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .label {
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
  }
  
  header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px
  }
  
  p {
    margin: 0;
  }
  
  .divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
    clear: right;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .right {
    float: right;
  }
  
  .lg {
    height: 10px;
  }
  
  .lg, .md {
    background-color: black;
    border: 0;
  }
  
  .md {
    height: 5px;
  }
  
  .sm-text {
    font-size: 0.85rem;
  }
  
  .calories-info h1 {
    margin: -5px -2px;
    overflow: hidden;
  }
  
  .calories-info span {
    font-size: 1.2em;
    margin-top: -7px;
  }
  
  .indent {
    margin-left: 1em;
  }
  
  .dbl-indent {
    margin-left: 2em;
  }
  
  .daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
  }
  
  .note {
    font-size: 0.6rem;
    margin: 5px 0;
  }